body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.blog_head {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog_title {
    font-size: 60px;
}

.blog_descrption {
    font-size: 18px;
    font-weight: normal;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.blog_entry_title {
    color: #FFF !important;
}

.blog_about_avatar {
    margin-bottom: 5px;
}

.blog_textarea {
    resize: none;
    min-height: 500px;
}